<section class="container mx-auto px-4 py-12 pb-0">
  <h2 class="text-3xl font-bold mb-6 section-title text-green-600">About Me</h2>
  <div class="flex items-center mb-8">
    <i class="fas fa-user-graduate text-3xl mr-4 icon"></i>
    <div>
      <p class="text-lg text-gray-700 leading-relaxed mb-2">Winter 2023 - August
        2024</p>
      <p class="text-lg text-gray-700 leading-relaxed mb-2">Georgian College,
        Barrie</p>
      <p class="text-lg text-gray-700 leading-relaxed mb-2">Program: Computer
        Programming</p>
    </div>
  </div>
  <p class="text-lg text-gray-700 leading-relaxed mb-6">
    Aspiring web developer proficient in HTML, CSS, JavaScript, TypeScript, Node.js, MongoDB, React, and Next.js, specializing in the MERN stack. Bringing theoretical knowledge gained through coursework to practical applications, I am passionate about developing innovative solutions and contributing to impactful projects. Committed to continuous learning, I stay abreast of the latest advancements in web development. Excited to launch my career in this dynamic field, I am eager to tackle new challenges and explore opportunities for growth.
  </p>
  <h3 class="text-2xl font-bold mb-4">Skills</h3>
  <ul class="list-disc list-inside text-lg text-gray-700 leading-relaxed mb-6">
    <li class="mb-4">
      <i class="fas fa-code text-lg icon mr-2"></i>
      <strong>Front-end Development:</strong>
      <ul class="ml-6 flex flex-wrap space-x-4">
        <li><i class="fab fa-html5 text-lg"></i> HTML</li>
        <li><i class="fab fa-css3-alt text-lg"></i> CSS</li>
        <li><i class="fab fa-js text-lg"></i> JavaScript</li>
        <li><i class="fab fa-react text-lg"></i> React.js</li>
        <li><i class="fab fa-node text-lg"></i> Node.js</li>
        <li><i class="fas fa-paint-brush text-lg"></i> Tailwind CSS</li>
      </ul>
    </li>
    <li class="mb-4">
      <i class="fas fa-cogs text-lg icon mr-2"></i>
      <strong>State Management:</strong>
      <ul class="ml-6 flex flex-wrap space-x-4">
        <li><i class="fab fa-react text-lg"></i> Redux.js</li>
        <li><i class="fas fa-cog text-lg"></i> Zustand</li>
      </ul>
    </li>
    <li class="mb-4">
      <i class="fas fa-server text-lg icon mr-2"></i>
      <strong>Server-side Rendering and Static Site Generation:</strong>
      <ul class="ml-6 flex flex-wrap space-x-4">
        <li><i class="fab fa-react text-lg"></i> Next.js</li>
      </ul>
    </li>
    <li class="mb-4">
      <i class="fas fa-database text-lg icon mr-2"></i>
      <strong>Database Management:</strong>
      <ul class="ml-6 flex flex-wrap space-x-4">
        <li><i class="fas fa-database text-lg"></i> MongoDB</li>
      </ul>
    </li>
    <li class="mb-4">
      <i class="fas fa-sitemap text-lg icon mr-2"></i>
      <strong>Server-side Framework:</strong>
      <ul class="ml-6 flex flex-wrap space-x-4">
        <li><i class="fas fa-sitemap text-lg"></i> Nest.js</li>
      </ul>
    </li>
    <li class="mb-4">
      <i class="fas fa-code-branch text-lg icon mr-2"></i>
      <strong>Version Control and Collaboration:</strong>
      <ul class="ml-6 flex flex-wrap space-x-4">
        <li><i class="fab fa-git text-lg"></i> Git</li>
        <li><i class="fab fa-github text-lg"></i> GitHub</li>
      </ul>
    </li>
  </ul>
</section>


{{!-- certification section --}}
<section class="container mx-auto px-4 py-12 pt-0">

  {{!-- <h2
    class="text-3xl font-bold mb-6 text-green-600"
  >Certifications</h2> --}}

  <h3 class="text-2xl font-bold mb-4">Certifications</h3> 
  <section class="flex flex-wrap -mx-4">

    {{!-- cards --}}
    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.linkedin.com/learning/certificates/4bf7cb84ff5646f2adb63bbcadb677b61e73b78c3b45c8b9e3367911f03df403"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/JS_Essential_Training.png"
          alt="JavaScript Essential Training Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >JavaScript Essential Training</p>
        </section>
      </a>
    </section>

    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.linkedin.com/learning/certificates/5c1580420a5df6cbb3f82a00f74f82c045e5b9209c99f9417590c0dfc7abee7b"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/JS_Web_Designers.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >JavaScript for Web Designers</p>
        </section>
      </a>
    </section>


    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.linkedin.com/learning/certificates/04ea123aad16d5d7d05694a2e27614a778fe109bb6264906be03550b52f9faea"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/React_ET.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >React.js Essential Training</p>
        </section>
      </a>
    </section>

    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.hackerrank.com/certificates/a3ecc14a1e5c"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/React_HR_basic.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >React (Basic)</p>
        </section>
      </a>
    </section>

    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.linkedin.com/learning/certificates/3b44fb3ca0ed70683695c4464da23470eedfcece830331c011032cbfe65c1de1"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/Node_ET.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >Node.js Essential Training</p>
        </section>
      </a>
    </section>

    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.hackerrank.com/certificates/76a8c5bd1d3b"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/Node_HR_basic.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >Node (Basic)</p>
        </section>
      </a>
    </section>

    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.hackerrank.com/certificates/05032fdd8e01"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/JS_HR_intermediate.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >Javascript (Intermediate)</p>
        </section>
      </a>
    </section>

    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.linkedin.com/learning/certificates/69924b264513cd0b4ac29fd44f9368266583d6cc2644c58b9ecd0e3fa127066b"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/Typescript_ET.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >Typescript Essential Training</p>
        </section>
      </a>
    </section>

    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.hackerrank.com/certificates/90422f17b506"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/CSS_Basic.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >CSS (Basic)</p>
        </section>
      </a>
    </section>

    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.hackerrank.com/certificates/08b35a7cd846"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/JS_ HR_Basic.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >JavaScript (Basic)</p>
        </section>
      </a>
    </section>

    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.hackerrank.com/certificates/ca1c3f1a1d65"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/Rest_API.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >Rest API (Intermediate)</p>
        </section>
      </a>
    </section>

    <section class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
      <a
        href="https://www.hackerrank.com/certificates/f8516db061c2"
        target="_blank"
        rel="noopener noreferrer"
        class="block bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 duration-200"
      >
        <img
          src="/images/Certificates/Problem_Solving_Basic.png"
          alt="JavaScript for Web Designers Certification"
          class="w-full h-auto"
        />
        <section class="p-4">
          <p
            class="text-lg text-gray-700 leading-relaxed mt-4 text-center font-semibold"
          >Problem Solving (Basic)</p>
        </section>
      </a>
    </section>
  </section>
</section>