<section class="container mx-auto px-4 py-12 flex flex-col items-center">
    <h1 class="text-4xl font-bold mb-4 text-center text-green-600">Welcome to My Portfolio</h1>
    <section class="mt-8 flex flex-col items-center">
        <img src="/images/Cartoonify.png" alt="Vraj's Photo" class="rounded-full w-48 h-48 shadow-md mb-4">
    </section>
    <p class="text-xl text-gray-800 text-center">Hello! I’m Vraj, an aspiring front-end developer.</p>
    <p class="mt-4 text-lg text-gray-700 leading-relaxed text-center">As a Computer Programming student, I'm passionate about crafting interactive and responsive web applications. With a solid foundation in HTML, CSS, and JavaScript, I aim to create engaging user experiences that leave a lasting impression.</p>
    <p class="mt-6 text-lg text-gray-700 leading-relaxed text-center">In my free time, I enjoy exploring new technologies and experimenting with different coding techniques. I also love playing video games and watching movies.</p>
    <a href="/about" class="mt-6 inline-block bg-green-600 text-white py-3 px-6 rounded-lg hover:bg-green-700 transition-colors duration-200 font-bold text-center">Learn More About Me</a>
</section>
