<section class="container mx-auto px-4 py-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <!-- Project 1: Bookstore Web Application -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full">
        <div class="w-full">
            <img src="images/Projects/bookstore_01.png" alt="Bookstore Web Application" class="w-full h-auto">
        </div>
        <div class="flex-grow p-6">
            <h2 class="text-xl font-bold mb-2 text-green-700">Bookstore Web Application</h2>
            <p class="text-gray-700 mb-4 leading-relaxed">Immerse yourself in a seamless literary experience with this meticulously crafted Bookstore Web Application. Designed and developed to provide an intuitive interface for book enthusiasts, this platform allows users to effortlessly browse, search, and purchase books from a vast collection. Enjoy a user-friendly environment with responsive design that ensures accessibility across all devices.</p>
        </div>
        <div class="mt-auto p-6">
            <div class="flex justify-between items-center">
                <a href="/projects/bookstore" class="text-green-600 hover:text-green-700 transition-colors duration-200">Read More</a>
                <a href="https://render-bookstore-v1-101.onrender.com/" class="text-green-600 hover:text-green-700 transition-colors duration-200">View Project</a>
            </div>
        </div>
    </div>

    <!-- Project 2: Guess Game -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full">
        <div class="w-full">
            <img src="images/Projects/Guess_game.png" alt="Guess Game" class="w-full h-auto">
        </div>
        <div class="flex-grow p-6">
            <h2 class="text-xl font-bold mb-2 text-green-700">Guess Game</h2>
            <p class="text-gray-700 mb-4 leading-relaxed">Experience the thrill of guessing in this interactive Guess Game. Test your intuition and challenge your friends with this engaging game that keeps you hooked with every guess.</p>
        </div>
        <div class="mt-auto p-6">
            <div class="flex justify-between items-center">
                <a href="/projects/guessGame" class="text-green-600 hover:text-green-700 transition-colors duration-200">Read More</a>
                <a href="https://eclectic-kleicha-21afa2.netlify.app/" class="text-green-600 hover:text-green-700 transition-colors duration-200">View Project</a>
            </div>
        </div>
    </div>

    <!-- Currency Converter App -->
<div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full">
    <div class="w-full">
        <img src="images/Projects/Currency_Calculator.png" alt="Currency Converter App" class="w-full h-auto">
    </div>
    <div class="flex-grow p-6">
        <h2 class="text-xl font-bold mb-2 text-green-700">Currency Converter Web Application</h2>
        <p class="text-gray-700 mb-4 leading-relaxed">Experience the convenience of currency conversion with this user-friendly Currency Converter App. Seamlessly convert between different currencies using real-time exchange rates, making financial transactions simpler and more efficient. Perfect for travelers and anyone needing quick currency calculations, this app ensures accuracy and ease-of-use with every conversion.</p>
    </div>
    <div class="mt-auto p-6">
        <div class="flex justify-between items-center">
            <a href="/projects/currencyCalculator" class="text-green-600 hover:text-green-700 transition-colors duration-200">Read More</a>
            <a href="https://glittering-sunshine-ab4d4d.netlify.app/" class="text-green-600 hover:text-green-700 transition-colors duration-200">View Project</a>
        </div>
    </div>
</div>

<!-- Project 4: Weather App -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full">
        <div class="w-full">
            <img src="images/Projects/weather.png" alt="Weather App" class="w-full h-auto">
        </div>
        <div class="flex-grow p-6">
            <h2 class="text-xl font-bold mb-2 text-green-700">Weather App</h2>
            <p class="text-gray-700 mb-4 leading-relaxed">Stay informed with this intuitive Weather App. Get real-time weather updates for any location with accurate forecasts. Whether you're planning your day or tracking weather conditions worldwide, this app provides essential information at your fingertips.</p>
        </div>
        <div class="mt-auto p-6">
            <div class="flex justify-between items-center">
                <a href="/projects/weather" class="text-green-600 hover:text-green-700 transition-colors duration-200">Read More</a>
                <a href="https://timely-mochi-1798ba.netlify.app/" class="text-green-600 hover:text-green-700 transition-colors duration-200">View Project</a>
            </div>
        </div>
    </div>

    <!-- Project 5: Password Generator App -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full">
        <div class="w-full">
            <img src="images/Projects/password_generator.png" alt="Password Generator Web Application" class="w-full h-auto">
        </div>
        <div class="flex-grow p-6">
            <h2 class="text-xl font-bold mb-2 text-green-700">Password Generator Web Application</h2>
            <p class="text-gray-700 mb-4 leading-relaxed">Ensure your online security with this robust Password Generator App. Generate strong and unique passwords with customizable settings, including length, character types, and more. Simplify password management and enhance your digital security effortlessly.</p>
        </div>
        <div class="mt-auto p-6">
            <div class="flex justify-between items-center">
                <a href="/projects/passwordGenerator" class="text-green-600 hover:text-green-700 transition-colors duration-200">Read More</a>
                <a href="https://profound-halva-f524f0.netlify.app/" class="text-green-600 hover:text-green-700 transition-colors duration-200">View Project</a>
            </div>
        </div>
    </div>

    <!-- Project 6: Text Reader App -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full">
        <div class="w-full">
            <img src="images/Projects/text_Reader.png" alt="Text Reader Web Application" class="w-full h-auto">
        </div>
        <div class="flex-grow p-6">
            <h2 class="text-xl font-bold mb-2 text-green-700">Text Reader Web Application</h2>
            <p class="text-gray-700 mb-4 leading-relaxed">Enhance your reading experience with this versatile Text Reader App. Read text content from various sources with ease and convenience. Whether you're studying, researching, or simply reading for pleasure, this app offers flexibility and accessibility.</p>
        </div>
        <div class="mt-auto p-6">
            <div class="flex justify-between items-center">
                <a href="/projects/textReader" class="text-green-600 hover:text-green-700 transition-colors duration-200">Read More</a>
                <a href="https://dainty-dodol-f4ab3e.netlify.app/" class="text-green-600 hover:text-green-700 transition-colors duration-200">View Project</a>
            </div>
        </div>
    </div>

    <!-- Project 7: Choice Picker App -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full">
        <div class="w-full">
            <img src="images/Projects/random_Choice_Picker.png" alt="Choice Picker Web Application" class="w-full h-auto">
        </div>
        <div class="flex-grow p-6">
            <h2 class="text-xl font-bold mb-2 text-green-700">Random Choice Picker Web Application</h2>
            <p class="text-gray-700 mb-4 leading-relaxed">Make decisions easier with this handy Choice Picker App. Randomly pick options from your list with a simple click. Ideal for making quick choices, selecting winners, or organizing activities, this app simplifies decision-making processes effortlessly.</p>
        </div>
        <div class="mt-auto p-6">
            <div class="flex justify-between items-center">
                <a href="/projects/choicePicker" class="text-green-600 hover:text-green-700 transition-colors duration-200">Read More</a>
                <a href="https://bejewelled-zabaione-57dced.netlify.app/" class="text-green-600 hover:text-green-700 transition-colors duration-200">View Project</a>
            </div>
        </div>
    </div>

    <!-- Project 8: Age Calculator App -->
<div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full">
    <div class="w-full">
        <img src="images/Projects/age_calculator.png" alt="Age Calculator Web Application" class="w-full h-auto">
    </div>
    <div class="flex-grow p-6">
        <h2 class="text-xl font-bold mb-2 text-green-700">Age Calculator Web Application</h2>
        <p class="text-gray-700 mb-4 leading-relaxed">Calculate the time period between two dates with this convenient Age Calculator App. Whether you're tracking age milestones, planning events, or managing historical records, this app provides accurate date calculations to simplify your tasks.</p>
    </div>
    <div class="mt-auto p-6">
        <div class="flex justify-between items-center">
            <a href="/projects/ageCalculator" class="text-green-600 hover:text-green-700 transition-colors duration-200">Read More</a>
            <a href="https://aquamarine-banoffee-5ab3a1.netlify.app/" class="text-green-600 hover:text-green-700 transition-colors duration-200">View Project</a>
        </div>
    </div>
</div>

<!-- Project 9: Calculator Web Application -->
<div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full">
    <div class="w-full">
        <img src="images/Projects/calculator.png" alt="Calculator Web Application" class="w-full h-auto">
    </div>
    <div class="flex-grow p-6">
        <h2 class="text-xl font-bold mb-2 text-green-700">Calculator Web Application</h2>
        <p class="text-gray-700 mb-4 leading-relaxed">Perform basic arithmetic operations with ease using this Calculator Web Application. Whether you're calculating simple math or complex equations, this app provides a straightforward interface for accurate results.</p>
    </div>
    <div class="mt-auto p-6">
        <div class="flex justify-between items-center">
            <a href="/projects/calculator" class="text-green-600 hover:text-green-700 transition-colors duration-200">Read More</a>
            <a href="https://calculator-lime-gamma.vercel.app/" class="text-green-600 hover:text-green-700 transition-colors duration-200">View Project</a>
        </div>
    </div>
</div>


</section>
