<section class="container mx-auto p-6">
  <div class="mb-8">
    <img src="/images/Projects/bookstore_01.png" alt="Bookstore" class="max-w-full h-auto" />
  </div>

  <h3 class="text-2xl font-bold mb-4 text-green-600">Bookstore Web Application</h3>

  <p class="text-gray-700 mb-4">
    Dive into a seamless literary experience with our meticulously crafted Bookstore Web Application. Designed and developed to provide an intuitive interface for book enthusiasts, our platform allows users to effortlessly browse, search, and purchase books from a vast collection. Enjoy a user-friendly environment with responsive design that ensures accessibility across all devices.
  </p>

  <h5 class="text-xl font-semibold mb-2 text-green-600">Features</h5>
  <ul class="list-disc list-inside mb-6">
    <li class="text-gray-700 mb-2">User Authentication: Users can sign up, log in, and log out securely.</li>
    <li class="text-gray-700 mb-2">Book Browsing: Users can view a collection of books, search for specific titles, and browse through paginated results.</li>
    <li class="text-gray-700 mb-2">Cart Management: Users can add books to their cart, adjust quantities, and proceed to checkout.</li>
    <li class="text-gray-700">Responsive Design: The application is designed to be responsive and accessible across various devices.</li>
  </ul>

  <h5 class="text-xl font-semibold mb-2 text-green-600">Technologies Used</h5>
  <ul class="list-disc list-inside mb-6">
    <li class="text-gray-700 mb-2">Frontend: React.js, React Router, React Hook Form, Material-UI</li>
    <li class="text-gray-700 mb-2">Backend: Node.js, Express.js, MongoDB</li>
    <li class="text-gray-700 mb-2">State Management: React Context API, React Query</li>
    <li class="text-gray-700 mb-2">Authentication: JSON Web Tokens (JWT)</li>
    <li class="text-gray-700 mb-2">Database: MongoDB Atlas</li>
    <li class="text-gray-700 mb-2">API Requests: Axios</li>
    <li class="text-gray-700">Styling: Tailwind CSS</li>
  </ul>

  <div class="mt-6">
    <a href="https://render-bookstore-v1-101.onrender.com/" target="_blank" rel="noopener noreferrer" class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition-colors duration-200">
    Live Demo</a>

     <a href="https://github.com/github18122021/BookStore_v1" target="_blank" rel="noopener noreferrer" class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-800 transition-colors duration-200">View Code</a>
  </div>
</section>
