<section class="container mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <div class="w-full">
            <img src="/images/Projects/calculator.png" alt="Calculator App" class="w-full h-auto">
        </div>
        <div class="p-6">
            <h2 class="text-xl font-bold mb-2 text-green-700">Calculator</h2>
            <p class="text-gray-700 mb-4">This Calculator app, built with React, Tailwind CSS, and TypeScript, offers a range of features to facilitate efficient arithmetic calculations and user interaction.</p>
            
            <h3 class="text-xl font-semibold mb-2 text-green-700">Features</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="text-gray-700">Basic Arithmetic Operations: Perform addition, subtraction, multiplication, and division effortlessly.</li>
                <li class="text-gray-700">Clear and Backspace Functionality: Easily clear the input field or delete the last character entered, enhancing user control and convenience.</li>
                <li class="text-gray-700">Keyboard Support: Seamlessly input numbers and operations using your keyboard, providing flexibility and efficiency in calculations.</li>
                <li class="text-gray-700">Error Handling and Validation: Receive clear error messages for invalid operations or inputs, ensuring accurate calculations and user-friendly experience.</li>
                <li class="text-gray-700">Dynamic and Responsive Design: The application adapts to various screen sizes, providing an optimal viewing and interaction experience across desktop and mobile devices.</li>
            </ul>
            
            <h3 class="text-xl font-semibold mb-2 text-green-700">Technologies Used</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="text-gray-700">React: JavaScript library for building interactive user interfaces, enabling seamless rendering and state management.</li>
                <li class="text-gray-700">Tailwind CSS: Utility-first CSS framework for styling, allowing for rapid development and easy customization while maintaining a sleek and modern design.</li>
                <li class="text-gray-700">TypeScript: Superset of JavaScript that adds static typing to the language, enhancing code quality, maintainability, and developer productivity.</li>
                <li class="text-gray-700">Vite: Next-generation frontend build tool that offers fast build times and live server capabilities, providing a smooth development experience.</li>
            </ul>
            
            <div class="flex space-x-4">
                <a href="https://calculator-lime-gamma.vercel.app/" target="_blank" rel="noopener noreferrer" class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition-colors duration-200">Calculate</a>
                <a href="https://github.com/github18122021/Calculator" target="_blank" rel="noopener noreferrer" class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-800 transition-colors duration-200">View Code</a>
            </div>
        </div>
    </div>
</section>
