<section class="container mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <div class="w-full">
            <img src="/images/Projects/random_Choice_Picker.png" alt="Random Choice Picker" class="w-full h-auto">
        </div>
        <div class="p-6">
            <h2 class="text-xl font-bold mb-2 text-green-700">Random Choice Picker</h2>
            <p class="text-gray-700 mb-4">This Random Choice Picker app is a simple tool built with React that helps you make decisions by randomly selecting choices from a list.</p>
            
            <h3 class="text-xl font-semibold mb-2 text-green-700">Features</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="text-gray-700">Add Choices: Input various choices to create a list from which the app can randomly select.</li>
                <li class="text-gray-700">Random Selection: Effortlessly pick a random choice from the list with just a click.</li>
            </ul>
            
            <h3 class="text-xl font-semibold mb-2 text-green-700">Usage</h3>
            <ol class="list-decimal list-inside mb-4">
                <li class="text-gray-700">Enter your choice in the input field.</li>
                <li class="text-gray-700">Click "Add a choice" to add it to the list.</li>
                <li class="text-gray-700">Click "Pick a random choice" to randomly select a choice from the list.</li>
            </ol>
            
            <h3 class="text-xl font-semibold mb-2 text-green-700">Technologies Used</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="text-gray-700">React: JavaScript library for building interactive user interfaces.</li>
                <li class="text-gray-700">useState Hook: React hook for managing component state.</li>
                <li class="text-gray-700">Async Operations: Utilizes promises and async/await for asynchronous operations.</li>
                <li class="text-gray-700">Tailwind CSS: Utility-first CSS framework for styling.</li>
            </ul>
            
            <h3 class="text-xl font-semibold mb-2 text-green-700">Getting Started</h3>
            <p class="text-gray-700 mb-4">To start using the Random Choice Picker, follow the steps:</p>
            <div class="flex space-x-4">
                <a href="https://bejewelled-zabaione-57dced.netlify.app/" target="_blank" rel="noopener noreferrer" class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition-colors duration-200">Use Random Choice Picker</a>
                <a href="https://github.com/github18122021/Random_Choice_Picker" target="_blank" rel="noopener noreferrer" class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-800 transition-colors duration-200">View Code</a>
            </div>
        </div>
    </div>
</section>
