<section class="container mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <div class="w-full">
            <img src="/images/Projects/text_Reader.png" alt="Text Reader Application" class="w-full h-auto">
        </div>
        <div class="p-6">
            <h2 class="text-xl font-bold mb-2 text-green-700">Text Reader Application</h2>
            <p class="text-gray-700 mb-4">Welcome to the Text Reader Application repository! This application allows users to convert text into speech using the Speech Synthesis API.</p>
            
            <h3 class="text-xl font-semibold mb-2 text-green-700">Features</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="text-gray-700">Text-to-Speech Conversion: Users can input text into the provided textarea and convert it into speech with the click of a button.</li>
                <li class="text-gray-700">Responsive Design: The application is designed to provide a seamless experience across various screen sizes.</li>
            </ul>
            
            <h3 class="text-xl font-semibold mb-2 text-green-700">Technology Used</h3>
            <ul class="list-disc list-inside mb-4">
                <li class="text-gray-700">React: JavaScript library for building user interfaces.</li>
                <li class="text-gray-700">Tailwind CSS: Utility-first CSS framework for styling, providing rapid development and easy customization while maintaining a modern design.</li>
                <li class="text-gray-700">autosize: Library for automatically adjusting the textarea height.</li>
                <li class="text-gray-700">Speech Synthesis API: Allows the application to convert text into speech.</li>
            </ul>
            
            <h3 class="text-xl font-semibold mb-2 text-green-700">Getting Started</h3>
            <p class="text-gray-700 mb-4">To convert text into speech, follow the steps below:</p>
            <div class="flex space-x-4">
                <a href="https://dainty-dodol-f4ab3e.netlify.app/" target="_blank" rel="noopener noreferrer" class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition-colors duration-200">Use Text Reader Application</a>
                <a href="https://github.com/github18122021/Text_Reader" target="_blank" rel="noopener noreferrer" class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-800 transition-colors duration-200">View Code</a>
            </div>
        </div>
    </div>
</section>
